.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__Posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__Posters::-webkit-scrollbar {
  display: none;
}

.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
.row__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 20px;
}
.row {
  margin-left: 20px;
  color: white;
}
